<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

	<title>Lista Sessioni - Questionario</title>
</head>

<body>

<div class="container">

	<h3>Lista Sessioni</h3>
	<hr>
	
	<div>
		Utente: <span sec:authentication="name"></span>
		<br>
		Ruolo(i): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/registration/showForm}"><button class="btn btn-success mb-3">Crea Utente</button></a>
		<a th:href="@{/enable/users-list}"><button class="btn btn-success mb-3">Abilitazioni Utente</button></a>
		<a th:href="@{/surveys/create/session}"><button class="btn btn-outline-primary mb-3">Aggiungi Sessione</button></a>
	</div>
	

	<div class="table-responsive" th:if="${ #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
		<table class="table table-bordered caption-top" th:each="tempSessione : ${sessioni}" th:if="${tempSessione.nomesessione != 'Eliminati'}">
			<caption th:if="${tempSessione.fine.after(#dates.createNow())}" th:text="'Accessibile dal ' + ${#dates.format(tempSessione.inizio, 'dd-MM-yyyy HH:mm')} + ' al ' + ${#dates.format(tempSessione.fine, 'dd-MM-yyyy HH:mm')}">
			</caption>
			<caption th:if="${tempSessione.fine.before(#dates.createNow())}" th:text="'Sessione eliminata'">
			</caption>
			<thead class="table-light">
				<tr  th:if="${ not #lists.isEmpty(tempSessione.questionari)}")>
					<th class="col-sm-2">
						<div class="dropdown">
	  						<button th:text="${tempSessione.nomesessione}" class="btn btn-sm btn-outline-link dropdown-toggle" type="button" th:id="'session_'+${tempSessione.nomesessione}" data-bs-toggle="dropdown" aria-expanded="false"></button>
							  <ul class="dropdown-menu" th:aria-labelledby="'session_'+${tempSessione.nomesessione}">
							    <li><a class="dropdown-item" th:href="@{/surveys/edit/session(Id=${tempSessione.id})}">Modifica sessione</a></li>
							    <li><a class="dropdown-item" th:href="@{/surveys/create/survey(sessionId=${tempSessione.id})}">Aggiungi questionario</a></li>
							    
							  </ul>
						</div>
					</th>
					<th></th>
					<th class="col-sm-3">Operazioni</th>
				</tr>
				<tr  th:if="${ #lists.isEmpty(tempSessione.questionari)}")>
					<th class="col-sm-2">
						<div class="dropdown">
	  						<button th:text="${tempSessione.nomesessione}" class="btn btn-sm btn-outline-link dropdown-toggle" type="button" th:id="'session_'+${tempSessione.nomesessione}" data-bs-toggle="dropdown" aria-expanded="false"></button>
							  <ul class="dropdown-menu" th:aria-labelledby="'session_'+${tempSessione.nomesessione}">
							    <li><a class="dropdown-item" th:href="@{/surveys/edit/session(Id=${tempSessione.id})}">Modifica sessione</a></li>
							    <li><a class="dropdown-item" th:href="@{/surveys/create/survey(sessionId=${tempSessione.id})}">Aggiungi questionario</a></li>
							  </ul>
						</div>
					</th>
					<th>Non sono presenti i relativi questionari.</th>
					<th class="col-sm-3">
						<button th:if="${tempSessione.fine.after(#dates.createNow())}" type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#deleteSession' + ${tempSessione.id}">
						  Elimina
						</button>
						
						<div th:if="${tempSessione.fine.after(#dates.createNow())}" class="modal fade" th:id="'deleteSession' + ${tempSessione.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Vuoi eliminare definitivamente</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body" th:text="${tempSessione.nomesessione} + '?'">
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
						        <a th:href="@{/surveys/delete/session(Id=${tempSessione.id})}"><button type="button" class="btn btn-primary">Conferma</button></a>
						      </div>
						    </div>
						  </div>
						</div>
						

					</th>
				</tr>
			</thead>
			
			<tbody>
				
				<tr th:each="tempQuestionario : ${tempSessione.questionari}">
				
					<td th:text="${tempQuestionario.id_questionario}" />	
					<td> <a th:href="@{/surveys/show/survey(Id=${tempQuestionario.id_questionario})}" th:text="${tempQuestionario.titolo}" /></a></td>	
					<td>
							
							<div class="dropdown">
							
							<a th:href="@{/surveys/show/survey(Id=${tempQuestionario.id_questionario})}"
							   class="btn btn-outline-primary btn-sm">
								Visualizza
							</a>
							
	  						<button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" th:id="'session_'+${tempSessione.nomesessione}" data-bs-toggle="dropdown" aria-expanded="false">Modifica</button>
							  <ul class="dropdown-menu" th:aria-labelledby="'session_'+${tempSessione.nomesessione}">
							    <li><a class="dropdown-item" th:href="@{/surveys/edit/survey(Id=${tempQuestionario.id_questionario})}">Modifica titolo questionario</a></li>
							    <li><a class="dropdown-item" th:href="@{/surveys/create/question(surveyId=${tempQuestionario.id_questionario})}">Aggiungi domanda</a></li>
							    <li><a class="dropdown-item" th:href="@{/surveys/edit/question(surveyId=${tempQuestionario.id_questionario})}">Modifica domande</a></li>
							  </ul>
							  
							  <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#deleteSurvey' + ${tempQuestionario.id_questionario}">
						  Elimina
						</button>
						</div>
			
						<div class="modal fade" th:id="'deleteSurvey' + ${tempQuestionario.id_questionario}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Vuoi eliminare</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body" th:text="${tempQuestionario.titolo} + '?'">
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
						        <a th:href="@{/surveys/delete/survey(Id=${tempQuestionario.id_questionario})}"><button type="button" class="btn btn-primary">Conferma</button></a>
						      </div>
						    </div>
						  </div>
						</div>
						
									
					</td>
				</tr>
			</tbody>		
		</table>
		
		<table class="table table-bordered caption-top" th:each="tempSessione : ${sessioni}" th:if="${tempSessione.nomesessione == 'Eliminati'}">
			<caption>Cestino Questionari
			</caption>
			<thead class="table-light">
				<tr th:if="${ not #lists.isEmpty(tempSessione.questionari)}")>

					<th class="col-sm-2" th:text="${tempSessione.nomesessione}" />
					<th></th>
					<th class="col-sm-3"></th>
					
				</tr>
				
				<tr th:if="${ #lists.isEmpty(tempSessione.questionari)}")>

					<th class="col-sm-2" th:text="${tempSessione.nomesessione}" />
					<th>Non sono presenti questionari eliminati.</th>
					<th class="col-sm-3"></th>
					
				</tr>
				
			</thead>
			
			<tbody>
				<tr th:each="tempQuestionario : ${tempSessione.questionari}">
				
					<td th:text="${tempQuestionario.id_questionario}" />	
					<td th:text="${tempQuestionario.titolo}" />	
					<td>
					
						<div class="dropdown">
						  <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						    Ripristina a...
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
						    <li th:each="tempSessione : ${sessioni}" th:if="${tempSessione.nomesessione != 'Eliminati'}"><a class="dropdown-item" th:href="@{/surveys/restore(surveyId=${tempQuestionario.id_questionario},sessionId=${tempSessione.id})}" th:text="${tempSessione.nomesessione}">Action</a></li>
						  </ul>
						</div>
							
					</td>
				</tr>
			</tbody>		
		</table>
		
	</div>


	<div class="table-responsive" th:if="${not #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
		<table class="table table-bordered caption-top" th:each="tempSessione : ${sessioni}" th:if="${tempSessione.inizio.before(#dates.#dates.createNow()) && tempSessione.fine.after(#dates.#dates.createNow())}">
			<caption th:text="'Accessibile dal ' + ${#dates.format(tempSessione.inizio, 'dd-MM-yyyy HH:mm')} + ' al ' + ${#dates.format(tempSessione.fine, 'dd-MM-yyyy HH:mm')}">
			</caption>
			<thead class="table-light">
				<tr>
	<!-- 				<th th:text="'Id - ' + ${tempSessione.id}" /> -->
					<th class="col-sm-2" th:text="${tempSessione.nomesessione}" />
					<th></th>
					<th class="col-sm-3">Operazioni</th>
				</tr>
			</thead>
			
			<tbody>
			
		<!-- 	<tr>
					<th th:text="'Inizio: ' + ${#dates.format(tempSessione.inizio, 'dd-MM-yyyy HH:mm')}" />
					<th th:text="'Fine: ' + ${#dates.format(tempSessione.fine, 'dd-MM-yyyy HH:mm')}" />
				</tr> -->
				
				<tr th:each="tempQuestionario : ${tempSessione.questionari}">
				
					<td th:text="${tempQuestionario.id_questionario}" />	
					<td th:text="${tempQuestionario.titolo}" />	
					<td>
						<a href=""
							   class="btn btn-info btn-sm">
								Compila
							</a>
					</td>
				</tr>
			</tbody>		
		</table>
	</div>
	
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>



