<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Lista Utenti non abilitati - Questionario</title>
</head>

<body>

<div class="container">

	<h3>Lista Utenti non abilitati</h3>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/registration/showForm}"><button class="btn btn-success mb-3">Crea Utente</button></a>
		<a th:href="@{/enable/users-list}"><button class="btn btn-success mb-3">Abilitazioni Utente</button></a>
	</div>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Username</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Email</th>
				<th>Età</th>
				<th>Genere</th>
				<th>Abilitazione</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUser : ${usersNotEnabled}">
			
				<td th:text="${tempUser.userName}" />	
				<td th:text="${tempUser.nome}" />	
				<td th:text="${tempUser.cognome}" />	
				<td th:text="${tempUser.email}"/>
				<td th:text="${tempUser.eta}"/>
				<td th:text="${tempUser.genere}"/>
				<td>
					<a th:href="@{/enable/users-list/active(userName=${tempUser.userName})}"
						   class="btn btn-info btn-sm">
							Abilita
						</a>
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	
</div>
	
</body>
</html>



