<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    
	<title>Lista Utenti non abilitati - Questionario</title>
</head>

<body>

<div class="container">

	<h3>Lista utenti non abilitati</h3>
	<hr>
	
	<div>
		Utente: <span sec:authentication="name"></span>
		<br>
		Ruolo(i): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/registration/showForm}"><button class="btn btn-success mb-3">Crea Utente</button></a>
		<a th:href="@{/enable/users-list}"><button class="btn btn-success mb-3">Abilitazioni Utente</button></a>
	</div>
	
	
	<table class="table table-bordered" th:if="${not #lists.isEmpty(usersNotEnabled) }">
		<thead class="table-light">
			<tr>
				<th>Username</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Email</th>
				<th>Età</th>
				<th>Genere</th>
				<th>Abilitazione</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUser : ${usersNotEnabled}">
			
				<td th:text="${tempUser.userName}" />	
				<td th:text="${tempUser.nome}" />	
				<td th:text="${tempUser.cognome}" />	
				<td th:text="${tempUser.email}"/>
				<td th:text="${tempUser.eta}"/>
				<td th:text="${tempUser.genere}"/>
				<td>
					<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" th:data-bs-target="'#active_' + ${tempUser.userName}">
					  Attiva
					</button>


					<div class="modal fade" th:id="'active_' + ${tempUser.userName}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Vuoi attivare utente</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body" th:text="${tempUser.nome} + ' ' + ${tempUser.cognome} + '?'">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
					        <a th:href="@{/enable/users-list/active(userName=${tempUser.userName})}"><button type="button" class="btn btn-primary">Conferma</button></a>
					      </div>
					    </div>
					  </div>
					</div>
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
	<div class="alert alert-warning" role="alert" th:if="${ #lists.isEmpty(usersNotEnabled) }">
	Non sono presenti utenti da abilitare.
	</div>
	
	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
		<a th:href="@{/}" class="btn btn-outline-primary mt-2">Home</a>
	
	</form>
	
</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
</body>
</html>



